<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Choose What to do</h1>
        <form action="{% url 'ResRev:regist' %}" method="get">
          <input type="submit" value="Sign Up">
        </form>
        <form action="{% url 'ResRev:new_rest' %}" method="get">
          <input type="submit" value="Add Restaurant">
        </form>

        <form action="{% url 'ResRev:signIn' %}" method="post">
        {% csrf_token %}
        <h2>Sign in</h2>
        <a>Username        </a><input type="text" name="username" placeholder="Username"><br>
        <a>Password        </a><input type="password" name="password" ><br>
        <input type="Submit" value="Sign in">
        </form>
    </body>
</html>
